@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;

}


/* Se que la pagina es fea, pasa que claramente el diseño no es lo mio, espero poder mejorarla visualmente para la prox */

body{
    background-color: rgb(255, 239, 220);
}


h1{
    font-size: 40px;
    font-weight: 500;
}

h2{
    font-size: 30px;
    font-weight: 500;
}

span{
    font-weight: 800;
}

p {
    font-size: 20px;
    font-weight: 600;
}

header {
    margin: 3px 10px;
    display: flex;
    justify-content: space-between;
}

header a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 600;
    margin-right: 30px;
}

header img {
    border-radius: 100%;
    width: 80px;
}

nav {
    background-color: rgb(255, 239, 220);
}

.navbar-nav .nav-link.active, .navbar-nav .show>.nav-link {
    
    font-weight: 700;
}

.nav-link{
    font-weight: 600;
}

.nav-link:hover{
    font-weight: 700;
}

header nav li{
    display: inline;
}


.contenedor-presentacion h1{
    position: relative;
    top: 60px;
    color: white;
    z-index: 3;
    padding-left: 10px;
    padding-right: 10px;
}

.contenedor-presentacion{
    width: 60%;
}

.seccion-presentacion{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.contenedor-quienes-somos{
    width: 100%;
    display: flex;
}

.contenedor-quienes-somos{
    margin-bottom: 60px;
}

.contenedor-todo-quienes-somos h2{
    margin-bottom: 30px;
}

.imagen-quienes-somos{
    width: 400px;
    margin-right:20px;
}

.product-image{
    width: 350px;
    margin-bottom: 40px;
}
main{
    margin-bottom: 50px;
}
.productos h1{
    margin-bottom: 30px;
}

.otros-productos{
    max-width: 1300px;
    /* Esto lo tuve que hacer porque al no poder usar grid ni nada en una pantalla mas grande no iban correctamente las imagenes */
}

.otros-productos h2{
    margin-bottom: 15px;
}

main{
    margin-right: 30px;
}

.contenedor-clientes{
    display: flex;
    padding: 30px;
    flex-direction: column;
}

.contenedor-clientes h1{
    margin-bottom: 60px;
}

.imagen-cliente{
    width: 1000px;
    height: 700px;
    margin-bottom: 30px;
}


.carousel-control-prev-icon{

    position: relative;
    bottom: 70px;
    right: 80px;
}

.carousel-control-next-icon{
    position: relative;
    bottom: 70px;
    left:30px;
}

.titulo-galeria{
    margin-left: 90px;
    margin-bottom: 50px;
}

.imagen-galeria{
    width: 350px;
    height: 220px;
    margin-bottom: 150px;
}

.contenedor-contactos{
    margin-bottom: 80px;
    margin-left: 60px;
    margin-top: 60px;
}

.contenedor-contactos h1{
    margin-bottom: 120px;
}
.contenedor-contactos p{
    margin-bottom: 30px;
}

#video-presentacion{
    height: 600;
    width: 1200;
}


footer{
    margin-right: 30px;
    margin-left: 80px;
}

.footer{
    display: flex;
    justify-content: space-between;
    padding-bottom: 15px;
}

.newsletter-text{
    font-size: 18px;
    font-weight: 500;
}

footer img{
    height: 30px;
    margin-right: 15px;
    margin-top: 20px;
}


.seguinos-container{min-width: 33%;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

.ytp-title-lin, yt-uix-sessionlink{
    color: red;
}

.hidden-text{
    display: none;
}

.copyright{
    min-width: 33%;
}
.newsletter-text{
    min-width: 33%;
}

.galeria {
    display: flex;
    justify-content: space-around;
}


.productos img{
    width: 320px;
    height: 220px;
}


.container-productos{
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr; 
    gap: 0px 0px; 
}

.text-color{
    color: rgb(242, 169, 35);
    font-weight: 800;
}

.imagen-quienes-somos{
    width: 30%;
    height: 10%;
}

.mapa{
    width: 100%;
    min-height: 600px;
    padding-right: 30px;
}

.icono-header:hover{
    transition: all 1.5s ease;
    transform: rotate(360deg);
}


@media screen and (max-width: 480px) {
    .footer{
        display: grid; 
    grid-template-columns: 50% 50%; 
    grid-template-rows: 1fr 1fr; 
    gap: 0px 0px;
    margin-left: 0;
}
    /* Esto es para hacer bajar el newsletter en el footer para hacerlo mas responsive */
.copyright { grid-area: 1 / 1 / 2 / 2; 
max-width: 150px;}
.newsletter-text { grid-area: 2 / 1 / 3 / 4; 
display: flex;
justify-content: row;}
.seguinos-container { grid-area: 1 / 2 / 2 / 3; 
        min-width: 100px;
        display: flex;
        justify-content: flex-end;
    }

footer img{
    margin-right: 10px;
    margin-top: 20px;
    height: 20px;
    position:relative;
    bottom: 40px;
}
.newsletter-text p{
    font-size: 12px;
    max-width: 100px;
}

.newsletter-text input{
    max-height: 30px;
    max-width: 200px;
}
.copyright p{
    font-size: 15px;;
}
.seguinos-titulo{
    display: none;
}
.hidden-text{display: block;}

.texto-visible{display: none;}

.contenedor-presentacion h1{
    font-size: 25px;
    top:40px;
}
.imagen-quienes-somos{
    width: 100%;
    margin-bottom: 10px;
}
.contenedor-quienes-somos{
    flex-direction: column;
}
.contenedor-presentacion{
    width: 95%;
}
.contenedor-contactos{
    margin-left: 0px;
    margin-top: 0px;
}

p{
    font-size: 15px;
}

.mapa{
    padding-right: 0px;
}

footer{
    margin-right: 0px;
    margin-left: 0px;
}
main{
    margin-bottom: 0px;
}
}
